//colors
$errorColor: #F07E46;
$hoverColor: #3BC4A9;
$mainColor: #ffffff;
$mainBgColor: #191919;
$secondTextColor: #b1b1b1;
$secondBgColor: #313131;
$colorTextWhiteBg: #838C95;
$colorTextInfo: #6E7881;
//media size
$phoneWidth: 576px;
$tabletWidth: 768px;
$desktopWidth: 992px;
$largeDeviceWidth: 1200px;